<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<!--引入统一头-->
<head th:include="import/head :: head"></head>
<body>
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>学生列表</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-wrench"></i>
                    </a>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="col-sm-3">
                        <span class="input-group-btn">
                        <input type="button" class="btn btn-success" data-toggle="modal"
                               data-target="#studentModal"
                               data-backdrop="static"
                               onclick="openModal('/admin/student/toAdd','studentModal')"
                               value="新增学生"/>
                        </span>
                        </div>
                    </div>
                    <div class="col-sm-9"></div>
                </div>
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <td>序号</td>
                        <td>姓名</td>
                        <td>年龄</td>
                        <td>性别</td>
                        <td>学号</td>
                        <td>操作</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="student:${list}">
                        <td th:text="${studentStat.index+1}"></td>
                        <td th:text="${student.name}"></td>
                        <td th:text="${student.age}"></td>
                        <td th:text="${student.sex}"></td>
                        <td th:text="${student.number}"></td>
                        <td>
                            <input class="btn btn-info btn-sm" data-backdrop="static"
                                   data-target="#studentModal" data-toggle="modal"
                                   th:onclick="'javascript:openModal(\'/admin/student/toEdit?studentId='+${student.id}+'\',\'studentModal\')'"
                                   type="button"
                                   value="修改"/>
                            <a th:href="@{/admin/student/remove(studentId=${student.id})}" class="btn btn-danger btn-sm"
                               th:onclick="'javascript:return removeStudent('+${student.id}+')'">删除</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal in modal fade" id="studentModal" tabindex="-1" role="dialog" aria-hidden="true"></div>
<!--引入统一JS-->
<script th:replace="import/script :: script"></script>
<script>
    function removeStudent(studentId){
        if(confirm("确定删除吗？")){
            return true;
        }else{
            return false;
        }
    }
</script>
</body>
</html>
